*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(8, 64, 82);
    font-size: 22px;
}
/* .social-buttons{
    text-align: center;
    display: flex;
    padding-bottom: 40px;
    font-size: 18px;
    margin-top: 30px;
    /* border-radius: 500px; */
    
/* .social-button{
    text-align: center;
    display: flex;
    padding-bottom: 40px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }  */

.login{
    width: 350px;
    height: 620px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 1px;

}

form{
    width:300px ;
    margin-left: 20px;
    margin-top: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid gray;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    color: antiquewhite;
    font-size: 18px;
    background-color: rgb(8, 64, 82);
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.p1{
    text-align: center;
    text-decoration: none;

}
.p2{
    text-align: center;
    text-decoration: none;
    margin-left: 35px;
}
.p3{
    text-decoration: none;
}
.submit2:hover{
    color: aqua;
}


